<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Jeu</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="favicon.ico" />
</head>

<body>
    <div class="wrap">
        <header>
            <a href="game.html">Jeu</a>
            <h1>Nuit de l'info 2022</h1>
            <a href="tuto.html">Comment Jouer</a>
        </header>
        <div class="board">
            <canvas id="board"></canvas>
            <div id="cards" style="visibility: hidden;">
                <button></button>
                <button></button>
                <button></button>
                <button></button>
            </div>
            <div id="description" style="visibility: hidden;">
                <p>Cawpote - PV : 50 | attaque : 2 | portée : 2</p>
                <p>Prep - PV : 25 | attaque : 1 | portée : 3</p>
                <p>Preservatif Féminin - PV : 50 | attaque : 3 | portée : 2</p>
            </div>
        </div>
        <script type="text/javascript" src="../script/script.js"></script>
    </div>
</body>

</html>