<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="favicon.ico" />
</head>
<body>
    <div class="wrap">
        <header>
            <a href="game.html">Jeu</a>
            <h1>Nuit de l'info 2022</h1>
            <a href="tuto.html">Comment Jouer</a>
        </header>

        <div>
            <h2>
                Règle du jeu :
            </h2>
            <p>Partie visual novel : Le jeu raconte une histoire, des choix lors des dialogues permettent d'obtenir des bonus ou des malus pour la phase suivante</p>
            <p>Partie tower defense : Des virus apparaissent sur la droite de l'écran. Ils parcour un chemin pour rejoindre les cellules du joueur. Celui-ci peut poser des protection pour une durée limité afin de se protéger du virus</p>
            <p>Après la nuit, la partie visual novel à été plus difficile que prévu a produire, seulement le premier acte avec un seul combat à pu etre incorporé sans choix</p>
        </div>
    </div>

    
</body>
</html>